<div class="profile-header-wrapper">
  <div class="text-center">
    <div class="profile-header-infos">
      <% if current_user.photo? %>
            <%= cl_image_tag current_user.photo.path, width: 120, crop: :fill%>
          <% else %>
            <%= image_tag "icon_profile.png", width: 120 %>
          <% end %>
      <h1>Welcome to your Dashboard <%= @user.first_name %> <%= @user.last_name %></h1>
    </div>
    <div class="tabs">
      <a class="tab active" data-target="#products">
        <p>My products</p>
      </a>
      <a class="tab" data-target="#rents">
        <p>My rents</p>
      </a>
      <a class="tab" data-target="#products_rents">
        <p>My products rents</p>
      </a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="tab-content" id="products">
      <% @products.each do |p| %>
          <div class="item">
            <%= image_tag product_card_background(p), style: "width: 100px;" %>
            <div class="item-body">
              <p><%= link_to p.name, product_path(p) %></p>
            </div>
            <div class="availability">
                <p> Change product availability </p>
                <%= link_to p.available ? "Set unavailable" : "Set available", product_change_availability_path(p), :class => "btn btn-warning btn-lg",
                 data: { confirm: "Are you sure?" }, method: :post
                 %>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>

<div class="container">
    <div class="tab-content hidden" id="products_rents">
    <% if @rents_owner.length > 0 %>
      <% @rents_owner.each do |rent| %>
          <div class="item">
          <%= image_tag product_card_background(rent.product), style: "width: 100px;" %>
            <div class='item-body'>
              <p><%= rent.product.name %></p>
              <p><%= rent.user.first_name %> <%= rent.user.last_name %></p>
              <p>from: <%= rent.start_date %> to: <%= rent.end_date %></p>
            </div>
            <% if rent.status == "pending" %>
              <%= link_to "Validate", validate_rent_path(rent), class: "btn btn-success btn-lg", method: :post %>
              <%= link_to "Decline", decline_rent_path(rent), class: "btn btn-danger btn-lg", method: :post %>
            <% else %>
              <%= link_to "Done", done_rent_path(rent), class: "btn btn-warning btn-lg", method: :post %>
            <% end %>
            <br>
            <p>Status: <%= rent.status.capitalize %></p>
          </div>
      <% end %>
      <% else %>
        <p> You don't have any rents in your history</p>
      <% end %>
    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="tab-content hidden" id="rents">
      <% @rents_client.each do |r| %>
          <div class="item">
            <%= image_tag product_card_background(r.product), style: "width: 100px;" %>
            <div class='item-body'>
              <p><%= r.product.name %></p>
              <p><%= r.product.user.first_name %> <%= r.product.user.last_name %></p>
              <p>from: <%= r.start_date %> to: <%= r.end_date %></p>
              <p>status: <%= r.status %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>
