<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h1>Edit User Info</h1>
      <%= simple_form_for @user do |f| %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :address %>
        <%= f.input :zip_code %>
        <%= f.input :city %>
        <%= f.input :country, as: :text, priority: [ 'FR' ] %>
        <%= f.input :photo, as: :attachinary %>
        <%= f.submit"edit", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=#{ENV['GOOGLE_API_BROWSER_KEY']}"></script>
<% end %>
