<footer class="footer-distributed">

  <div class="footer-left">

    <%= image_tag "logo2.png", style: "width: 80px;" %>

    <p class="footer-links">
      <%= link_to "home", root_path %>
      ·
      <%= link_to "about", "#" %>
      ·
       <%= link_to "Contact", "#" %>
    </p>

    <p class="footer-company-name">Gdutosma &copy; 2016</p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>21 Revolution Street</span> Paris, France</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+1 555 123456</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:support@company.com">support@gdutosma.com</a></p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>About the company</span>
      Gdutosma dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
    </p>

    <div class="footer-icons">

      <%= link_to "#" do  %>
         <i class="fa fa-facebook"> </i>
        <% end %>

      <%= link_to "#" do  %>
         <i class="fa fa-twitter"> </i>
        <% end %>

      <%= link_to "#" do  %>
         <i class="fa fa-linkedin"> </i>
        <% end %>

    </div>

  </div>

</footer>
