<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= asset_url('production-studio.png')%>);">
  <div class="banner-content">
    <h1>Gdutosma</h1>
    <p>Rent professionnal equipments from people near you</p>
      <%= simple_form_for :product do |f| %>

        <%= f.input_field :search, :placeholder => "Search products",
        :class => "input-lg", :id => "inputcolor" %>

        <%= f.input_field :search, :placeholder => "place",
        :class => "input-lg", :id => "inputcolor" %>

        <%= f.submit "Find !", :class => "btn btn-mine btn-lg" %>
      <% end %>
      <!-- Datepicker form -->
      <!-- <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-offset-4">
            <div class="input-daterange input-group">
                <input type="text" class="input-sm form-control datepicker" name="start_date" />
                <span class="input-group-addon">to</span>
                <input type="text" class="input-sm form-control datepicker" name="end_date" />
            </div>
            <a class="btn btn-primary btn-lg">GET IT</a>
          </div>
        </div>
      </div> -->

      <!-- Simple form with datepicker
      <%= simple_form_for :product do |f| %>
        <%= f.input_field :start_date, :placeholder => "Start Date",
        :class => "input-lg datepicker", :id => "inputcolor" %>
        <%= f.input_field :end_date, :placeholder => "End Date",
        :class => "input-lg datepicker", :id => "inputcolor" %>
        <%= f.submit "Find !", :class => "btn btn-primary btn-lg" %>
      <% end %>   -->
  </div>
</div>

<div class="container border text-center">
  <div class="row">

    <div class="col-md-6 padded ">
      <h1 class="myh1"> You want a specific item to rent ? </h1>
      <br>
      <%= link_to products_path do  %>
      <button type="button" class="btn btn-mine center-block btn-lg" >rent an item </button>
      <% end %>
    </div>
    <div class="col-md-6 padded">
      <h1 class="myh1">You own an item & want to rent it </h1>
      <br>
      <%= link_to new_product_path do  %>
      <button type="button" class="btn btn-mine center-block btn-lg" >Create announce </button>
      <% end %>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="icones" id="icone1" style="background-image: url(<%= asset_url('photo.png')%>);"></div>
        <h3 class="h3style">Rentabilisez votre matériel et économisez en louant</h3>
      </div>

      <div class="col-md-3">
        <div class="icones" id="icone2" style="background-image: url(<%= asset_url('love.png')%>);"></div>
        <h3 class="h3style">Location entre passionés et professionels</h3>
      </div>

      <div class="col-md-3">
        <div class="icones" id="icone3" style="background-image: url(<%= asset_url('cadenas.png')%>);"></div>
        <h3 class="h3style"> Assurance casse & vol illimitée</h3>
      </div>

      <div class="col-md-3">
        <div class="icones" id="icone4" style="background-image: url(<%= asset_url('phone.png')%>);"></div>
        <h3 class="h3style">Recevez les demandes de nos membres certifiés</h3>
      </div>
    </div>



  </div>
</div>
