<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="product">
        <h2> <%= @product.name %> </h2>
        <p> <%= @product.description %> </p>
        <p> <%= @product.price %> </p>
        <p> <%= @product.category %> </p>
        <% @product.photos.each do |photo| %>
          <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
        <% end %>

        <div class="container">
          <%= link_to products_path do  %>
            <button type="button" class="btn btn-primary btn-lg">Home </button>
          <% end %>

          <%= link_to new_product_rent_path(@product) do  %>
            <button type="button" class="btn btn-primary btn-lg">Get it </button>
          <% end %>

          <% if @product.user == current_user %>
            <%= link_to "Delete", product_undisplay_path(@product), :class => "btn btn-danger btn-lg",
            :controller => :products, :action => :undisplay,
             data: { confirm: "Are you sure?" }
             %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <%= render 'rents/new' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="availability">
        <% if @product.user == current_user %>
          <h4> Change product availability </h4>
          <% %>
          <%= link_to @product.available ? "Set unavailable" : "Set available", product_unavailable_path(@product), :class => "btn btn-warning btn-lg",
          :controller => :products, :action => :unavailable,
           data: { confirm: "Are you sure?" }
           %>
        <% end %>
      </div>
    </div>
  </div>
</div>
