<div class="container">
  <div class="product">
    <h2> <%= @product.name %> </h2>
    <p> <%= @product.description %> </p>
    <p> <%= @product.price %> </p>
    <p> <%= @product.category %> </p>
    <% @product.photos.each do |photo| %>
      <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
    <% end %>
  </div>
</div>

<div class="container">
<%= link_to products_path do  %>
<button type="button" class="btn btn-primary btn-lg">Home </button>
<% end %>

<%= link_to "Delete", product_undisplay_path(@product), :class => "btn btn-danger btn-lg",
:controller => :products, :action => :undisplay,
 data: { confirm: "Are you sure?" }
 %>

</div>
