<div class="container">
  <div class="row">
    <div class="col-md-8">
      <% @product.photos.each do |photo| %>
        <div class="photo col-xs-12 col-md-4">
          <%= cl_image_tag photo.path, width: 200, crop: :fill %>
        </div>
      <% end %>
    </div>
    <div class="col-md-4">
      <%= render 'rents/new' %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div class="product">
        <h2> <%= @product.name %> </h2>
        <p> <%= @product.description %> </p>
        <p> <%= @product.price %>$/day </p>
        <p> <%= @product.category %> </p>
        <p> <%= @product.user.first_name %> <%= @product.user.last_name %></p>
      </div>
    </div>
    <div class="col-md-4">
      <div id="map" style="width: 100%; height: 200px; margin-top: 50px;"></div>
      <% content_for(:after_js) do %>
        <%= javascript_tag do %>
          $(document).ready(function() {
            var handler = Gmaps.build('Google');
            handler.buildMap({ internal: { id: 'map' } }, function() {
              markers = handler.addMarkers(<%= raw @hash.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
              if (markers.length == 0) {
                handler.getMap().setZoom(2);
              } else if (markers.length == 1) {
                handler.getMap().setZoom(14);
              }
            });
          });
        <% end %>
      <% end %>
    </div>
  </div>
  <%= link_to products_path do  %>
        <button type="button" class="btn btn-primary btn-lg">Home </button>
      <% end %>

      <% if @product.user == current_user %>
        <%= link_to "Delete", product_undisplay_path(@product), :class => "btn btn-danger btn-lg",
        :controller => :products, :action => :undisplay,
         data: { confirm: "Are you sure?" }
         %>
      <% end %>

<!--   <div class="row">
    <div class="col-md-6">
      <div class="availability">
        <%# if @product.user == current_user %>
          <h4> Change product availability </h4>
          <% %>
          <%#= link_to @product.available ? "Set unavailable" : "Set available", product_unavailable_path(@product), :class => "btn btn-warning btn-lg",
          :controller => :products, :action => :unavailable,
           data: { confirm: "Are you sure?" }
           %>
        <%# end %>
      </div>
    </div>
  </div> -->
</div>
